// Specific CSS for your home-page
.text-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-text{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

#home-link{
  color:black;
}

h1{
  font-size:5.5rem;
}

.project-container{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.title{
  text-align:center;
  font-size: 50px;
}

#resume{
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

.resume-info{
  padding-top: 5%;
}

.section{
  padding-top: 5%;
}