// Specific CSS for your home-page
.text-container{
  padding-top: 30px;
  padding-left:10%;
  padding-right:10%;
  text-align:center;
  padding-bottom:80px;
}

#home-text{
  padding-bottom:30px;
}

#home-link{
  color:black;
}
