<%# <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/JoshuaObura" target="_blank"><i class="fab fa-github"></i></a>
    <a href= "https://www.linkedin.com/in/joshua-howitt-b9285b170/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p> email: oluashegun@googlemail.com |  mobile: 07770210923</p>
  </div>
</div> %>