<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to "Home", "#home", class: "nav-link scrollTo" %>
  <%= link_to "Resume", "#resume", class: "nav-link scrollTo"%>
  <%= link_to "Projects", "#projects", class: "nav-link scrollTo"%>
</div>
<span style="font-size:30px;cursor:pointer;margin-left:30px;" onclick="openNav()">&#9776; navigation</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}
</script>
