<div id="home">
 <div data-aos="fade-up" data-aos-duration="3000">
    <div class ="text-container">
      <div class = "header-text">
              <h1>Joshua Howitt</h1>
              <p>Hi there, my name is Josh and welcome to my portfolio.
                I am a Full Stack developer based in Kent, please feel free to take a look
                at my previous work or get in touch via my details below.</p>
      </div>
    </div>
  </div>
</div>
<div id="projects">
  <p class="title"> Projects </p>
    <div class="project-container">
      <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <h2><%= link_to 'The Healthy Hair Hub', 'http://www.thehealthyhairhub.com/', target: :_blank, class: "project-link" %></h2>
          <div class="macbook">
            <div class="screen">
              <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605121024/screencapture-thehealthyhairhub-contents-2020-11-11-18_44_26_jctdsy.jpg');">
              </div>
            </div>
              <div class="base"></div>
              <div class="notch"></div>
            </div>
        <p class="project-text"> The Healthy Hair Hub was a project Idea I pitched during the Lewagon Bootcamp, It was a project myself and a team of 3 others
        completed over the course of 8 working days, created predominantly using Ruby on Rails and is hosted on Heroku. It features image/ video uploads, favoriting,
        chatrooms, user login and other functions.</p>
          </div>
      </div>
    </div>
    <div class="project-container">
      <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
      <h2><%= link_to 'Open Tool box', 'https://opentoolbox-joshuaobura.herokuapp.com/', target: :_blank, class: "project-link" %></h2>
        <div class="macbook">
          <div class="screen">
            <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605121314/screencapture-opentoolbox-joshuaobura-herokuapp-tools-30-2020-11-11-19_01_32_fpqktz.jpg');">
            </div>
          </div>
            <div class="base"></div>
            <div class="notch"></div>
          </div>
      <p class="project-text">A 4 day project created to help homeowners or renters in cities rent tools
      for home improvement or work. Built using Ruby on Rails and Javascript. Utilising a MapBox api you can see where
      specific tools are with user images hosted on cloudinary.</p>
        </div>
      </div>
    </div>
      <div class="project-container">
      <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
      <h2><%= link_to 'Budgeting App', 'https://github.com/JoshuaObura/budget-app', target: :_blank, class: "project-link" %></h2>
        <div class="macbook">
          <div class="screen">
            <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605617103/budget-app_kvdeue.jpg');">
            </div>
          </div>
            <div class="base"></div>
            <div class="notch"></div>
          </div>
      <p class="project-text">A small project to familiarise myself with Angular.JS and Typescript plus help me keep track of Lockdown finances.
      </p>
        </div>
      </div>
    </div>
</div>
<div id="resume">
<p class="title"> Resume </p>
  <div class="resume-info">
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
        <div class="row">
          <div class="col-md-3">
            <h5>Skills</h5>
          </div>
          <div class="col-md-3">
            Ruby
          <br>
            Ruby on Rails
          <br>
            JavaScript ES6
          </div>
          <div class="col-md-3">
            HTML
            <br>
            CSS
            <br>
            SQL & PostgreSQL
          </div>
          <div class="col-md-3">
            APIs
            <br>
            Git + Github
            <br>
            TDD
          </div>
        </div>
    </div>
<br>
      <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
        <div class="row">
          <div class="col-md-3">
            <h5>Education</h5>
          </div>
          <div class="col-md-3">
          <i>Le Wagon London</i>
          </div>
          <div class="col-md-3">
            Full Stack development
          </div>
          <div class="col-md-3">
            2020
          </div>
        </div>
      </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>University Of Hertfordshire</i>
            </div>
            <div class="col-md-3">
              History with Japanese
            </div>
            <div class="col-md-3">
                2019
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>Aoyama Gakuin University</i>
            </div>
            <div class="col-md-3">
              Study Abroad Year
            </div>
            <div class="col-md-3">
                2017-2018
            </div>
          </div>
        </div>
<br>
      <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
        <div class="row">
          <div class="col-md-3">
            <h5>Experience</h5>
          </div>
          <div class="col-md-3">
          <i>Teaching Assistant</i>
          </div>
          <div class="col-md-3">
            Le Wagon London
          </div>
          <div class="col-md-3">
            Oct 2020-Present
          </div>
        </div>
      </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>Business Development Executive</i>
            </div>
            <div class="col-md-3">
              Homesearch
            </div>
            <div class="col-md-3">
                Apr 2020 - Jun 2020
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>Digital Marketing Associate</i>
            </div>
            <div class="col-md-3">
              Thing Co & Drive Theo
            </div>
            <div class="col-md-3">
                2019 - 2020
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>Study Abroad Ambassador</i>
            </div>
            <div class="col-md-3">
             University of Hertfordshire
            </div>
            <div class="col-md-3">
                2018-2019
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>Chat Leader & English Tutor</i>
            </div>
            <div class="col-md-3">
              Aoyama Gakuin University
            </div>
            <div class="col-md-3">
              2017-2018
            </div>
          </div>
        </div>
  </div>
  </div>
</div>

<div id="contact">
  <div class="project-container">
    <p class="title"> contact </p>
    <h5>Please feel free to get in touch with me via the link below</h5>
    <a href="mailto:oluashegun@googlemail.com?subject=Contact via Website"><i class="far fa-envelope email"></i></a>
    <p class="project-text"> If email Isn't your thing you can find me on Linkedin or check out my git hub using the links below. </p>
     <div class="contact-link-container">
      <div class="contact-link1">
      <a href="https://github.com/JoshuaObura" target="_blank"><i class="fab fa-github github"></i></a>
      </div>
      <div class="contact-link2">
      <a href= "https://www.linkedin.com/in/joshua-howitt-b9285b170/" target="_blank"><i class="fab fa-linkedin linkedin"></i></a>
      </div>
    </div>
  </div>
</div>