<div id="home">
  <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1601291719/jnhtilfrjtrqjrwmwzug.jpg", class: "profile-img" %>
<div class ="text-container">
          <p id="home-text">Hi there, my name is Josh and this is my portfolio.
            Please feel free to have a look around at the projects
            I have worked on. Please feel free to reach out to me
            via the contact details in the footer below.</p>
</div>
<div id="resume">
    <div class="text-container">
    </div>
</div>
<div id="projects">
    <div class="text-container">
          <%= link_to "The Healthy Hair Club","http://www.thehealthyhairhub.com/", target: :_blank %>
      <div class="macbook">
        <div class="screen">
          <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605121024/screencapture-thehealthyhairhub-contents-2020-11-11-18_44_26_jctdsy.jpg');">
          </div>
        </div>
          <div class="base"></div>
          <div class="notch"></div>
        </div>
    </div>
    <div class="text-container">
      <h2>Tool Box</h2>
      <div class="macbook">
        <div class="screen">
          <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605121314/screencapture-opentoolbox-joshuaobura-herokuapp-tools-30-2020-11-11-19_01_32_fpqktz.jpg');">
          </div>
        </div>
          <div class="base"></div>
          <div class="notch"></div>
        </div>
    </div>
</div>
        