<div id="home">
 <div data-aos="fade-up" data-aos-duration="3000">
    <div class ="text-container">
      <div class = "header-text">
              <h1>Joshua Howitt</h1>
              <p>Hi there, my name is Josh and welcome to my portfolio.
                I am a Full Stack developer based in Kent, please feel free to take a look
                at my previous work or get in touch via my details below.</p>
      </div>
    </div>
  </div>
</div>
<div id="projects">
  <p class="title"> Projects </p>
    <div class="project-container">
      <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <h2>The Healthy Hair Hub</h2>
          <div class="macbook">
            <div class="screen">
              <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605121024/screencapture-thehealthyhairhub-contents-2020-11-11-18_44_26_jctdsy.jpg');">
              </div>
            </div>
              <div class="base"></div>
              <div class="notch"></div>
            </div>
        <p> A web app where you can look up tutorials on how to style Afro-carribean hair/read blogs about maintaining your current style.
        A team of myself and 3 others worked together on this project over the course of 9 days. Built using Ruby on Rails</p>
          </div>
      </div>
    </div>
    <div class="project-container">
      <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
      <h2>Tool Box</h2>
        <div class="macbook">
          <div class="screen">
            <div class="viewport" style="background-image:url('https://res.cloudinary.com/joshuaobura/image/upload/v1605121314/screencapture-opentoolbox-joshuaobura-herokuapp-tools-30-2020-11-11-19_01_32_fpqktz.jpg');">
            </div>
          </div>
            <div class="base"></div>
            <div class="notch"></div>
          </div>
      <p>A 5 day project created to help homeowners or renters in cities rent tools
      for home improvement or work. Built using Ruby on Rails and Javascript.</p>
        </div>
      </div>
    </div>
</div>
<div id="resume">
<p class="title"> Resume </p>
  <div class="resume-info">
    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
        <div class="row">
          <div class="col-md-3">
            <h5>Skills</h5>
          </div>
          <div class="col-md-3">
            Ruby
          <br>
            Ruby on Rails
          <br>
            JavaScript ES6
          </div>
          <div class="col-md-3">
            HTML
            <br>
            CSS
            <br>
            SQL & PostgreSQL
          </div>
          <div class="col-md-3">
            APIs
            <br>
            Git + Github
            <br>
            TDD
          </div>
        </div>
    </div>
    <br>
      <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
        <div class="row">
          <div class="col-md-3">
            <h5>Education</h5>
          </div>
          <div class="col-md-3">
          <i>Le Wagon London</i>
          </div>
          <div class="col-md-3">
            Full Stack development
          </div>
          <div class="col-md-3">
            2020
          </div>
        </div>
      </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>University Of Hertfordshire</i>
            </div>
            <div class="col-md-3">
              History with Japanese
            </div>
            <div class="col-md-3">
                2019
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1500">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <i>Aoyama Gakuin University</i>
            </div>
            <div class="col-md-3">
              Study Abroad Year
            </div>
            <div class="col-md-3">
                2017-2018
            </div>
          </div>
        </div>
  </div>
</div>

<div id="contact">
<p class="title"> contact </p>
</div>