<div id="home">
<div class ="text-container">
  <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1601291719/jnhtilfrjtrqjrwmwzug.jpg", class: "profile-img" %>
          <p id="home-text">Hi there, my name is Josh and this is my portfolio.
            Please feel free to have a look around at the projects
            I have worked on. Please feel free to reach out to me
            via the contact details in the footer below.</p>
          <div class="box-1">
            <div class="btn btn-one">
              <span>
              <%= link_to "Check out my projects", "#projects", class: "link scrollTo" %>
              </span>
            </div>
          </div>
</div>
<div id="resume">
    <div class="text-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio ipsam illum mollitia.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non odio euismod lacinia at quis risus sed vulputate.
          Id aliquet risus feugiat in ante metus.
          Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
          Orci nulla pellentesque dignissim enim.
          Eget sit amet tellus cras.
          Mauris pellentesque pulvinar pellentesque habitant morbi.
          Rhoncus urna neque viverra justo nec ultrices.
          Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit.
          Nec feugiat in fermentum posuere urna.
          Vitae semper quis lectus nulla at volutpat diam ut venenatis.
          Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
          Cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Nulla aliquet porttitor lacus luctus.</p>
      </div>
</div>
<div id="projects">
    <div class="text-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio ipsam illum mollitia.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu non odio euismod lacinia at quis risus sed vulputate.
          Id aliquet risus feugiat in ante metus.
          Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
          Orci nulla pellentesque dignissim enim.
          Eget sit amet tellus cras.
          Mauris pellentesque pulvinar pellentesque habitant morbi.
          Rhoncus urna neque viverra justo nec ultrices.
          Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit.
          Nec feugiat in fermentum posuere urna.
          Vitae semper quis lectus nulla at volutpat diam ut venenatis.
          Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
          Cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Nulla aliquet porttitor lacus luctus.</p>
      </div>
</div>
        