.header-text{
  text-align: center;
  color: white;
}

.profileimg{
  max-height: 70vh;
  border-radius: 1%;
  width: 100%;
}

@media (max-width:3000px){
  .about-container{
    margin: 10% 20%;
  }
}

@media (max-width:1800px){
  .about-container{
    margin: 10% 20%;
  }
}

@media (max-width:980px){
  .about-container{
    margin: 5% 15%;
  }
}

@media (max-width:780px){
  .about-container{
    margin: 5% 10%;
  }
}
@media (max-width:480px){
  .about-container{
    margin: 5%;
  }
}