.button-container{
  display: flex;
  justify-content: center;
}

.button-box {
   margin-left: 0%;
   margin-top: -42vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 70px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  font-size: 18px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: black;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: white;
  color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@media (max-width:3000px){
  .button-box{
    margin-left: -14%;
  }
}

@media (max-width:1800px){
  .button-box{
    margin-left: -17%;
  }
}
@media (max-width:780px){
  .button-box{
    margin-left: -30%;
  }
}
@media (max-width:480px){
  .button-box{
    margin-left: -60%;
  }
}