// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  color:white;
  background: rgb(217,113,183);
  background: radial-gradient(circle, rgba(217,113,183,1) 0%, rgba(252,207,108,1) 100%);
}
  